/*DO NOT USE THIS FILE FOR PRODUCTION*/
body {
	background: #E7E7E7 url(../img/bg.jpg) repeat-x;
}
.container {
	max-width: none !important;
	width: 860px;
}
.containerbg {
	margin-top: -5px;
	background: #fff;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-bottom: 30px;
	-webkit-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 0px 23px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 0px 23px rgba(0, 0, 0, 0.1);
}
.footer{
	margin-top:20px;
	padding-bottom:20px;
}
.top-wrap {
	z-index:100;	
	width: 900px;
	margin: 0 auto;
}
.banner {
	position:relative;
	z-index:-100;
	width: 885px; 
	height: 300px; 
	background-image: url(../img/title.png);
	margin-bottom:-20px;
}

/* NAVBAR */
.navbar {
	margin:0 auto;
	background-image:url(../img/nav.png);
	height:52px;
	width:860px;
}

ul#navigation {
	border:0 none;
	height:28px;
	left:0;
	list-style-type:none;
	padding-left:105px;
	padding-top:10px;
	top:0;
	white-space:nowrap;
	width:885px;
}

ul#navigation li {
	display:block;
	float:left;
	margin:0;
	padding:0;
}
ul#navigation li a {
	border:0 none;
	display:block;
	height:52px;
	margin-top:-10px;
}
ul#navigation li a:hover {
	border:0 none;
	display:block;
}
li#home a {
	width:150px;
	margin-left:-105px;
}
li#register a {
	margin-left:5px;
	width:100px;
}
li#downloads a {
	margin-left:6px;
	width:117px;
}
li#community a {
	margin-left:5px;
	width:123px;
}
li#rankings a {
	margin-left:6px;
	width:107px;
}
li#donate a {
	margin-left:3px;
	width:100px;
}
li#vote4nx a {
	margin-left:4px;
	width:133px;
}

/* SIDEBAR */
.login{
	width:232px;
	height:162px;
	margin-top: 20px;
	margin-left: auto; 
	margin-right: auto;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.pushdown{
	margin-top:20px;
}
.panel-heading{
	background: #eee;
	background: #eee -moz-linear-gradient(top, rgba(255,255,255,.1) 0%, rgba(0,0,0,.1) 100%);
	background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.1)), color-stop(100%,rgba(0,0,0,.1)));
	background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%);
	background: #eee -o-linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%);
	background: #eee -ms-linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%);
	background: #eee linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%);
	border: 1px solid #ccc;
}
.panel-body {
	background: #F4F4F4;
}